<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body>

  <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
    <h1 style="color: Blue"><%= kindOfDay %> To Do List</h1>
  <% } else { %>
    <h1 style="color:aquamarine"><%= kindOfDay %> To Do List</h1>
  <% } %>

  <!-- The tags around the control flow are called "scriptlet tags" they are a feature in ejs template that allows you to write control flow in an html document  of .ejs it is best to keep logic on the server side but there are times when it's easier to use these such as above.  -->

  
  
</body>
</html>